@charset "utf-8";

body {
	width: 500px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	border: 0;
	margin: 0;
	padding: 0;
}

.hover {
	text-decoration: none;
	list-style-type: none;
	cursor: default;
}

a {
	text-decoration: none;
}

.hover a {
	cursor: default;
}

.hover li {
	background-color: #eee;
	display: block;
	margin: 10px;
	padding: 10px;
	float: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ddd;
	border-right-color: #bbb;
	border-bottom-color: #aaa;
	border-left-color: #ccc;
	position: relative;
}

.hover img {
	vertical-align: top;
	padding: 2px;
	height: 100px;
	width: 100px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #aaa;
	border-right-color: #ccc;
	border-bottom-color: #ddd;
	border-left-color: #bbb;
}

.hover .preview {
	background-color: #000;
	height: 200px;
	width: 250px;
}

.hover a .preview {
	display: none;
}

.hover a:hover .preview {
	display: block;
	position: absolute;
	z-index: 1;
	left: -45px;
	top: -33px;
}
